<?xml version="1.0" encoding="utf-8"?>
<config>
    <global>
        <vmSizes>
            <vmSize>
                <sizeName>XS</sizeName>
                <cpus>1</cpus>
                <memory>768</memory>
            </vmSize>
            <vmSize>
                <sizeName>S</sizeName>
                <cpus>1</cpus>
                <memory>1792</memory>
            </vmSize>
            <vmSize>
                <sizeName>M</sizeName>
                <cpus>2</cpus>
                <memory>3584</memory>
            </vmSize>
            <vmSize>
                <sizeName>L</sizeName>
                <cpus>4</cpus>
                <memory>7168</memory>
            </vmSize>
            <vmSize>
                <sizeName>XL</sizeName>
                <cpus>8</cpus>
                <memory>14336</memory>
            </vmSize>
        </vmSizes>
        <XStore>
            <url>blob.core.test-cint.azure-test.net</url>
            <accountName>rdostestco2iaas1</accountName>
            <container>rdoslta-sh</container>
            <accessKey>ik37+x6DB9rvgIgwvJJf5yJ2bJhWlICHrQmmut19YJV7tNEXtlVDTESDPqClM83wvZSHfHT6raL0PSpvlx2hOA==</accessKey>
        </XStore>
        <mimicArpServer>
            <hostname>10.172.6.185</hostname>
            <username>root</username>
            <sshKey>lisa_id_rsa.ppk</sshKey>
        </mimicArpServer>
    </global>
    <tests>
        <test>
            <testName>Feature-XS</testName>
            <testTemplate>Feature.xslt</testTemplate>
            <testScript>Feature.ps1</testScript>
            <vmSize>XS</vmSize>
        </test>
        <test>
            <testName>XStoreDisk</testName>
            <testTemplate>XStoreDisk.xslt</testTemplate>
            <testScript>XStoreDisk.ps1</testScript>
            <vmSize>L</vmSize>
            <testparams>
                <param>IOZONE_PARAMS=-a -z -g20g -k16 -Vazure</param>
            </testparams>
        </test>
        <test>
            <testName>XStoreTrim</testName>
            <testTemplate>XStoreTrim.xslt</testTemplate>
            <testScript>XStoreTrim.ps1</testScript>
            <vmSize>L</vmSize>
        </test>
        <test>
            <testName>LocalDisk</testName>
            <testTemplate>LocalDisk.xslt</testTemplate>
            <testScript>LocalDisk.ps1</testScript>
            <vmSize>L</vmSize>
            <testparams>
                <param>IOZONE_PARAMS=-a -z -g20g -k16 -Vazure</param>
            </testparams>
        </test>
        <test>
            <testName>XStoreReboot</testName>
            <testScript>XStoreReboot.ps1</testScript>
            <testTemplate>XStoreReboot.xslt</testTemplate>
            <vmSize>L</vmSize>
            <testparams>
                <param>REBOOT_TIMES=1000</param>
            </testparams>
        </test>
    </tests>
    <distros>
        <distro>
            <distroName>oracle7b</distroName>
            <baseVhd>oracle7b-base.vhd</baseVhd>
            <sshKey>lisa_id_rsa.ppk</sshKey>
        </distro>
    </distros>
    <hvServers>
        <hvServer>
            <hostname>WIN-9UNFF0NTS13</hostname>
            <username>administrator</username>
            <password>PA$$word!!</password>
            <switchName>CorpNet</switchName>
            <vmadminRoot>d:\vmadmin</vmadminRoot>
            <vmRoot>c:\vm</vmRoot>
            <vmVhdRoot>c:\vm\working_vhd</vmVhdRoot>
            <vmSnapshotRoot>c:\vm\snapshot</vmSnapshotRoot>
        </hvServer>
    </hvServers>

</config>
